<link rel="stylesheet" href="css/edit-profile.css">
<div class="w3layouts-header-top">
    <div class="container">
        <div class="w3-header-top-grids">
            <div class="w3-header-top-left">

                <p ng-show="model.user != null" style="color:white">Hey, {{model.user.fname}}</p>
            </div>
            <div class="w3-header-top-right">
                <div class="agileinfo-social-grids">
                    <ul>
                        <li><a href="https://www.facebook.com/NFL/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/NFL?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.nfl.com/news"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.instagram.com/nfl/?hl=en"><i class="fa fa-instagram"></i></a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <!--<li ng-show="!model.user"><a href="#!/editProfile">Edit Profile</a></li>-->
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li ng-show="model.user != null"><a ng-click="model.logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<h1></h1>
<div class="navbar-brand-logo">
    <a href="#!/" class="index">&nbsp;
        <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nfl.png&w=400&h=400" alt="logo"
             height="50px" width="50px"></a>
</div>
<div class="container">

        <div class="jumbotron">
            <h3 align="center"><strong><u>Super Bowl Ticket Details</u></strong></h3>
            <h5><strong>Match:</strong>{{model.nfltickets.name}}</h5>
            <h5><strong>Date:</strong>{{model.nfltickets.date}}</h5>
            <h5><strong>Time:</strong>{{model.nfltickets.start}}</h5>
            <div class = "pull-right">
                <span ng-click="model.cancelTicket(model.nfltickets.name)" class="btn btn-danger" class="pull-right">Cancel Ticket</span>
            </div>
        </div>
</div>
